body {
    margin: 0;
    font-family: "Aclonica", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: auto;
    background-color: #e0be36;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    margin-left: 20px;
}

.logo-img {
    height: 60px;
    width: 90px;
}

.heading-name {
    font-size: 45px;
    margin: 0;
    color: #25160B;
}

.cart {
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.cart-logo, .user-logo {
    font-size: 42px;
    color: #18412b;
}

.main {
    width: auto;
    height: 455px;
    background-image: url('main image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-logo {
    color: #ffd220 ;
}

.search-input {
    font-family: "Aclonica", sans-serif;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}
